<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.patrick.a434.kiosk8">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".FullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Informational"
            android:label="@string/title_activity_informational"
            android:parentActivityName=".FullscreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.patrick.a434.kiosk8.FullscreenActivity" />
        </activity>
        <activity
            android:name=".Person"
            android:label="@string/title_activity_person"
            android:parentActivityName=".FullscreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.patrick.a434.kiosk8.FullscreenActivity" />
        </activity>
        <activity
            android:name=".Place"
            android:label="@string/title_activity_place"
            android:parentActivityName=".FullscreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.patrick.a434.kiosk8.FullscreenActivity" />
        </activity>
        <activity
            android:name=".Workspace"
            android:label="@string/title_activity_workspace"
            android:parentActivityName=".FullscreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.patrick.a434.kiosk8.FullscreenActivity" />
        </activity>
    </application>

</manifest>